# Django
# ------------
Django>=5.0.1
djangorestframework>=3.14.0
django-environ>=0.11.2
django-extensions>=3.2.1
django-phonenumber-field>=7.0.1
django-phonenumbers>=1.0.1
dj-rest-auth>=2.2.5
djangorestframework-simplejwt>=5.2.2
django-allauth>=0.50.0
django-cors-headers>=4.1.0

# Production dependencies
# -----------------
pip-tools>=7.3.0
psycopg2>=2.9.5
gunicorn>=21.2.0

# Other Python deps
# -----------------
black>=22.12.0
pre-commit>=2.20.0
flake8>=6.0.0
arrow>=1.2.3
django-dramatiq>=0.11.2
dramatiq[rabbitmq,watch]>=1.14.2
redis>=4.5.5
twilio>=8.2.2